# ─── Entorno virtual ───────────────────
venv/
env/
.venv/

# ─── Python ─────────────────────────────
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ─── SENSIBLES — nunca subir ────────────
credenciales.json
.env

# ─── IDE ────────────────────────────────
.vscode/
.idea/
.cluade/

# ─── Sistema ────────────────────────────
.DS_Store
Thumbs.db

# ─── Logs ───────────────────────────────
*.log
logs/
# ─── Archivos de documentación ─────────────────────NO SUBIR──────────
guia_dns_nicar.md
guia_donweb.md 
guia_github_render.md
CLAUDE.md
tecnomedic-viejo azul.css


